.wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}

#sidebar {
    float: left;
    max-width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: all 350ms;
    display: none;
    z-index: 999;
}

#sidebar.active {
    margin-left: -250px;
}

div.screen {
    margin: 0 auto;
    width: 360px;
    height: 640px;
    background: linear-gradient(#FBD36D, #FFFFFF);
}

.title {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    top: 2px;
    margin: 0 auto;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.openingstatement {
    text-align: center;
    font-family: cursive;
    color: cornflowerblue;
}

#sidebar li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

#sidebar .mainMenu {
    font-size: large;
}

#sidebar .toplevel {
    text-decoration: none;
    background: #5748FF;
    color: white;
}
#sidebar .secondlevel {
    background: white;
}

.content {
    z-index: 998;
    margin: 0;
    width: 100%;
}

body {
    background: linear-gradient(to top, #FFFFFF, #FBD36D) fixed;
}