@font-face{ /* external fonts imported to be used */
    font-family: "one";
    src: url("../SansationRegular.woff");
}
*{
    font-family: "one";
}
.wrapper { /* encompassing the sidebar, title, and image */
    width: 100%;
    display: flex;
    align-items: stretch;
}

#sidebar {
    float: left;
    max-width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: scroll;
    transition: all 350ms;
    display: none;
    z-index: 999;
}

#sidebar.active {
    margin-left: -250px;
}

.title {
    position: relative;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.imageWindow{ /* the image on the landing page*/
    border: 3px solid #5748FF;
    margin: 0 auto;
    margin-top: 10%;
    width: 85%;
    height: 70%;
    background-color: white;
    text-align: center;
}

#image { /* image placement on landing page */
    margin-bottom: 5%;
    width: 90%;
}

.openingstatement { /*line of text introducing our page */
    text-align: center;
    font-family: cursive;
    color: #5748FF;
}
#sidebar li > a { /* padding for each element in the list to make each element more spaced out */
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

#sidebar li { /* padding for the list itself to help make each button more spaced out */
    padding-top: 5px;
    padding-bottom: 5px;
}

#sidebar .mainMenu {
    font-size: large;
}

#sidebar .toplevel {
    text-decoration: none;
    background: #5748FF;
    color: white;
}
#sidebar .secondlevel {
    background: white;
}
.shoppingbutton{
    margin-left: 0 auto;
    margin-top: 7%;
    width: 100%;
    text-align: center;
    height: auto;
}
#beginShopping{
    border: 3px solid #5748FF;
    border-radius: 10px;
    width: 80%;
    height: 150px;
    background-color:#5748FF;
    color:white;
}
.headingbuttons{
    width: 100%;
}
#cartimage{
    width:80px;
    height:80px;
    border:3px solid #5748FF;
    border-radius: 100%;
    transition: 0.5s;
    outline: none;
    float: right;
}
#cartimage:hover{
    background-color: white;
}
#beginShopping:hover{
    background-color: white;
    color: #5748FF;
}
#sidebarCollapse:hover{
    background-color: white;
}
.content {
    z-index: 998;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(to top, #FFFFFF, #FBD36D) fixed;
}

@media only screen and (min-width:768px){
    .imageWindow{
        width: 45%;
        margin-top: auto;
    }
    .shoppingbutton{
        margin-top: 5%;
    }
    #beginShopping{
        width: 45%;
        height: auto;
    }
}
