#listingdiv{
    width:600px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border: 2px solid grey;
}

.listings{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 450px;

}

.listings:hover{
    cursor: pointer;
}

.addtocart{
    border: 2px solid #5748FF;
    background-color:#5748FF;
    color: white;
    width: 300px;
}

.addtocart:hover{
    background-color:white;
    color: #5748FF;
    width: 300px;
}

.retailermap{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.retailerbuttons{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

button.retailer{
    border: 5px solid #5748FF;
    border-radius: 10px;
}

button.retailer:hover{
    background-color: #5748FF;
}

.logos{
    width:100px;
    height:100px;
}
.mapwindow{
    border: 2px solid grey;
    margin: auto;
    margin-top:25px;
    width: 925px;
    height: 740px;
    background-color: white
}
#map{
    width: 875px;
    height: 450px;
    border: 0;
}

p{
    text-align: center;
}