#listingdiv{
    width:600px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border: 8px solid #5748FF;
}

.listings{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 450px;

}

.listings:hover{
    cursor: pointer;
}

.addtocart{
    border: 2px solid #5748FF;
    background-color:#5748FF;
    color: white;
    width: 300px;
}

.addtocart:hover{
    background-color:white;
    color: #5748FF;
    width: 300px;
}

p{
    text-align: center;
}